<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>财富传说-礼包页面</title>
    <script type="text/javascript" src="//s.thsi.cn/js/liejin/common/flexible/flexible_w75b.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="//s.thsi.cn/cb?css/liejin/common/;init.min.css;css/liejin/project/m/kaihu/src/styles/;common.min.css;selectbank.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="//s.thsi.cn/cb?css/liejin/common/;init.min.css" />
    <link rel="stylesheet" type="text/css" href="../src/styles/index.css" />
</head>
<body>
<div v-cloak class="container gift">
    <div class="background of-hidden">
        <p class="f_s60 f_white g-mt50 g-mb20">第一期活动</p>
        <p class="f_s36 f_white">每周胜利10次瓜分10000元现金</p>
        <p class="f_s28 f_c74537d g-mt20 g-mb40">活动时间：3.20-4.19</p>
        <div class="list">
            <div v-for="(item,index) in list" :class="{lock : index + 1 > userinfo.level}">
                <img src="../src/images/gift-medal.png">
                <div>
                    <span>{{item.name}}</span>
                    <span>奖励：{{item.award}}</span>
                </div>
                <div class="btn btn-gray" v-if="item.status == 1">已领取</div>
                <div class="btn btn-purple" v-else @click="getGift($event, index)">领取</div>
            </div>
        </div>
    </div>
    <div v-show="layerShow" @click="layerShow = false" class="layer-cover"></div>
    <div v-show="layerShow" class="gift-layer">
        <div class="tips">奖励中心</div>
        <div v-if="gift == 1" class="gift-fir">
            <p class="congratulate">恭喜你获得现金红包</p>
            <div class="bag">
                <p>{{nowAward}}<span class="f_s24 g-vm">元</span></p>
            </div>
            <p class="f_s24 f_c999 g-mt20">现金奖励累计满5元，<br>即可发起微信体现，实时到账</p>
            <div @click="play" class="continue">继续答题</div>
        </div>
        <div v-else-if="gift == 2" class="gift-sec">
            <p class="congratulate">恭喜你获得<span>{{nowAward}}</span></p>
            <img src="../src/images/gift-award2.png">
            <div class="see">查看奖励</div>
            <div @click="play" class="continue">继续答题</div>
        </div>
        <div v-else-if="gift == 3" class="gift-thi">
            <p class="congratulate">恭喜你获得<span>{{nowAward}}</span></p>
            <img src="../src/images/gift-award3.png">
            <p class="f_s24 f_c999 g-mt20">获得权益后，答题胜利后获得的<br>金币奖励增加5%，权益可叠加</p>
            <div @click="play" class="continue">继续答题</div>
        </div>

    </div>
    <layer-coin v-show="notEnough" v-bind:isenough="notEnough"></layer-coin>
</div>

<script charset="utf-8" src="//s.thsi.cn/cb?js/;ta_https.min.js;encrypt.min.js;js/liejin/common/;phone_put.min.js&171124"></script>
<script charset="utf-8" src="//s.thsi.cn/cb?js/m/common/;basic.js;user.js;bridge.js;js/liejin/common/m/;user.min.js;stat_v1.js&170608"></script>
<!-- <script charset="utf-8" src="//s.thsi.cn/cb?js/liejin/common/tools/;statevent.min.js;js/liejin/project/m/kaihu/dist/;selectbank.min.js"></script> -->
<script charset="utf-8" src="//s.thsi.cn/cb?js/liejin/common/tools/;statevent.min.js"></script>
<script charset="utf-8" src="../dist/gift.js"></script>

</body>

</html>
