<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>财富传说-礼包页面</title>
    <script type="text/javascript" src="//s.thsi.cn/js/liejin/common/flexible/flexible_w75b.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="//s.thsi.cn/cb?css/liejin/common/;init.min.css;css/liejin/project/m/kaihu/src/styles/;common.min.css;selectbank.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="//s.thsi.cn/cb?css/liejin/common/;init.min.css" />
    <link rel="stylesheet" type="text/css" href="../src/styles/index.css" />
</head>
<body>
<div class="container gift">
    <div class="background of-hidden">
        <p class="f_s60 f_white g-mt50 g-mb20">第一期活动</p>
        <p class="f_s36 f_white">每周胜利10次瓜分10000元现金</p>
        <p class="f_s28 f_c74537d g-mt20 g-mb40">活动时间：3.20-4.19</p>
        <div class="list">
            <div>
                <img src="../src/images/gift-medal.png">
                <div>
                    <span>初出茅庐</span>
                    <span>奖励：0.88元现金红包</span>
                </div>
                <div class="btn btn-gray">已领取</div>
            </div>
            <div>
                <img src="../src/images/gift-medal.png">
                <div>
                    <span>小有名气</span>
                    <span>奖励：猎金大礼包</span>
                </div>
                <div class="btn btn-gray">已领取</div>
            </div>
             <div>
                <img src="../src/images/gift-medal.png">
                <div>
                    <span>日进斗金</span>
                    <span>奖励：5%答题金币加成</span>
                </div>
                <div class="btn btn-purple">领取</div>
            </div>
            <div class="lock">
                <img src="../src/images/gift-medal.png">
                <div>
                    <span>财大气粗</span>
                    <span>奖励：1.28元现金红包</span>
                </div>
                <div class="btn btn-purple">领取</div>
            </div>
            <div class="lock">
                <img src="../src/images/gift-medal.png">
                <div>
                    <span>一掷千金</span>
                    <span>奖励：开户大礼包</span>
                </div>
                <div class="btn btn-purple">领取</div>
            </div>
            <div class="lock">
                <img src="../src/images/gift-medal.png">
                <div>
                    <span>财富自由</span>
                    <span>奖励：5%答题金币加成</span>
                </div>
                <div class="btn btn-purple">领取</div>
            </div>
            <div class="lock">
                <img src="../src/images/gift-medal.png">
                <div>
                    <span>家财万贯</span>
                    <span>奖励：0.88元现金红包</span>
                </div>
                <div class="btn btn-purple">领取</div>
            </div>
            <div class="lock">
                <img src="../src/images/gift-medal.png">
                <div>
                    <span>独霸一方</span>
                    <span>奖励：基金大礼包</span>
                </div>
                <div class="btn btn-purple">领取</div>
            </div>
            <div class="lock">
                <img src="../src/images/gift-medal.png">
                <div>
                    <span>金融大鳄</span>
                    <span>奖励：5%答题金币加成</span>
                </div>
                <div class="btn btn-purple">领取</div>
            </div>
            <div class="lock">
                <img src="../src/images/gift-medal.png">
                <div>
                    <span>富可敌国</span>
                    <span>奖励：0.66元现金红包</span>
                </div>
                <div class="btn btn-purple">领取</div>
            </div>
            <div class="lock">
                <img src="../src/images/gift-medal.png">
                <div>
                    <span>富甲天下</span>
                    <span>奖励：港美股大礼包</span>
                </div>
                <div class="btn btn-purple">领取</div>
            </div>
             <div class="lock">
                <img src="../src/images/gift-medal.png">
                <div>
                    <span>财富传说</span>
                    <span>奖励：5%答题金币加成</span>
                </div>
                <div class="btn btn-purple">领取</div>
            </div>
        </div>
    </div>
</div>

<script charset="utf-8" src="//s.thsi.cn/cb?js/;ta_https.min.js;encrypt.min.js;js/liejin/common/;phone_put.min.js&171124"></script>
<script charset="utf-8" src="//s.thsi.cn/cb?js/m/common/;basic.js;user.js;bridge.js;js/liejin/common/m/;user.min.js;stat_v1.js&170608"></script>
<!-- <script charset="utf-8" src="//s.thsi.cn/cb?js/liejin/common/tools/;statevent.min.js;js/liejin/project/m/kaihu/dist/;selectbank.min.js"></script> -->
<script charset="utf-8" src="//s.thsi.cn/cb?js/liejin/common/tools/;statevent.min.js"></script>
<script charset="utf-8" src="../dist/question.js"></script>

</body>

</html>
