<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>财富传说-首页</title>
    <script type="text/javascript" src="//s.thsi.cn/js/liejin/common/flexible/flexible_w75b.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="//s.thsi.cn/cb?css/liejin/common/;init.min.css;css/liejin/project/m/kaihu/src/styles/;common.min.css;selectbank.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="//s.thsi.cn/cb?css/liejin/common/;init.min.css" />
    <link rel="stylesheet" type="text/css" href="../src/styles/index.css" />
</head>
<body>
<div v-cloak class="container homepage of-hidden">
    <div class="background">
        <div class="avatar" :src="avatar"></div>
        <div class="wealth">
            <img class="icon-money" src="../src/images/homepage-coin.png">
            <span>{{userinfo.coin}}</span>
            <img class="icon-add" @click="layerShow = !layerShow" src="../src/images/homepage-add.png">
        </div>
        <img class="bag" @click="jumpTo(0)" src="../src/images/homepage-bag.png">
        <img class="cash" @click="jumpTo(1)" src="../src/images/homepage-cash.png">
        <img class="exange" @click="jumpTo(2)" src="../src/images/homepage-exange.png">
        <img class="rank" @click="jumpTo(3)" src="../src/images/homepage-rank.png">
        <img class="btn-join" @click="jumpTo(5)" src="../src/images/homepage-btn-join.png">
        <div class="rule" @click="jumpTo(4)">活动规则</div>
        <div class="layer" v-show="layerShow">
            <div class="tips">温馨提示</div>
            <p v-show="notEnough">你的金币不够啦，你可以通过以下方式获得金币哦</p>
            <div class="invite">
                <img src="../src/images/homepage-add2.png">
            </div>
            <img class="login" src="../src/images/homepage-login.png">
        </div>
        <div class="layer-cover"  @click="layerShow = !layerShow;notEnough = 0" v-show="layerShow"></div>
    </div>
</div>

<script charset="utf-8" src="//s.thsi.cn/cb?js/;ta_https.min.js;encrypt.min.js;js/liejin/common/;phone_put.min.js&171124"></script>
<script charset="utf-8" src="//s.thsi.cn/cb?js/m/common/;basic.js;user.js;bridge.js;js/liejin/common/m/;user.min.js;stat_v1.js&170608"></script>
<!-- <script charset="utf-8" src="//s.thsi.cn/cb?js/liejin/common/tools/;statevent.min.js;js/liejin/project/m/kaihu/dist/;selectbank.min.js"></script> -->
<script charset="utf-8" src="//s.thsi.cn/cb?js/liejin/common/tools/;statevent.min.js"></script>
<script charset="utf-8" src="../dist/homepage.js"></script>

</body>

</html>
