<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>财富传说-红包页面</title>
    <script type="text/javascript" src="//s.thsi.cn/js/liejin/common/flexible/flexible_w75b.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="//s.thsi.cn/cb?css/liejin/common/;init.min.css;css/liejin/project/m/kaihu/src/styles/;common.min.css;selectbank.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="//s.thsi.cn/cb?css/liejin/common/;init.min.css" />
    <link rel="stylesheet" type="text/css" href="../src/styles/index.css" />
</head>
<body>
<div class="container rank">
    <div class="background of-hidden">
        <p class="f_s60 f_white g-mt50 g-mb20">第一期活动</p>
        <p class="f_s36 f_white">每周胜利10次瓜分10000元现金</p>
        <p class="f_s28 f_c74537d g-mt20 g-mb20">活动时间：3.20-4.19</p>
        <div class="list">
            <div class="mygrade">
                <div class="f-clearfix">
                    <img class="avatar" src="../src/images/question-avatar.png">
                    <div class="f-fl g-ml10">
                        <span class="nickname">lichunpeng</span>
                        <span class="achievement">初出茅庐</span>
                    </div>
                    <div class="f-fr">
                        <span class="totalrank">全国排名: <span class="f_s32 g-pl10">9999+</span></span>
                        <span class="totalrate">总4场<span class="g-pl30">60%胜率</span></span>
                    </div>
                </div>
            </div>
            <div class="othergrade">
                <div class="f-tl u-relative">
                    <div class="number">
                        <img src="../src/images/rank-fir.png">
                    </div>
                    <img class="avatar" src="../src/images/question-avatar.png">
                    <div class="f-fl g-ml10">
                        <span class="nickname">lichunpeng</span>
                        <span class="achievement">初出茅庐</span>
                    </div>
                    <div class="f-fr">
                        <div class="totalrank f-fr">
                            <span>lv. </span>
                            <span>13</span>
                            <em class="cup"></em>
                            <span>6841</span>
                        </div>
                    </div>
                </div>
                <div class="f-tl u-relative">
                    <div class="number">
                        <img src="../src/images/rank-sec.png">
                    </div>
                    <img class="avatar" src="../src/images/question-avatar.png">
                    <div class="f-fl g-ml10">
                        <span class="nickname">lichunpeng</span>
                        <span class="achievement">初出茅庐</span>
                    </div>
                    <div class="f-fr">
                        <div class="totalrank f-fr">
                            <span>lv. </span>
                            <span>13</span>
                            <em class="cup"></em>
                            <span>6841</span>
                        </div>
                    </div>
                </div>
                <div class="f-tl u-relative">
                    <div class="number">
                        <img src="../src/images/rank-thi.png">
                    </div>
                    <img class="avatar" src="../src/images/question-avatar.png">
                    <div class="f-fl g-ml10">
                        <span class="nickname">lichunpeng</span>
                        <span class="achievement">初出茅庐</span>
                    </div>
                    <div class="f-fr">
                        <div class="totalrank f-fr">
                            <span>lv. </span>
                            <span>13</span>
                            <em class="cup"></em>
                            <span>6841</span>
                        </div>
                    </div>
                </div>
                <div class="f-tl u-relative">
                    <div class="number">
                        <span>4</span>
                    </div>
                    <img class="avatar" src="../src/images/question-avatar.png">
                    <div class="f-fl g-ml10">
                        <span class="nickname">lichunpeng</span>
                        <span class="achievement">初出茅庐</span>
                    </div>
                    <div class="f-fr">
                        <div class="totalrank f-fr">
                            <span>lv. </span>
                            <span>13</span>
                            <em class="cup"></em>
                            <span>6841</span>
                        </div>
                    </div>
                </div>
                <div class="f-tl u-relative">
                    <div class="number">
                        <span>5</span>
                    </div>
                    <img class="avatar" src="../src/images/question-avatar.png">
                    <div class="f-fl g-ml10">
                        <span class="nickname">lichunpeng</span>
                        <span class="achievement">初出茅庐</span>
                    </div>
                    <div class="f-fr">
                        <div class="totalrank f-fr">
                            <span>lv. </span>
                            <span>13</span>
                            <em class="cup"></em>
                            <span>6841</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script charset="utf-8" src="//s.thsi.cn/cb?js/;ta_https.min.js;encrypt.min.js;js/liejin/common/;phone_put.min.js&171124"></script>
<script charset="utf-8" src="//s.thsi.cn/cb?js/m/common/;basic.js;user.js;bridge.js;js/liejin/common/m/;user.min.js;stat_v1.js&170608"></script>
<!-- <script charset="utf-8" src="//s.thsi.cn/cb?js/liejin/common/tools/;statevent.min.js;js/liejin/project/m/kaihu/dist/;selectbank.min.js"></script> -->
<script charset="utf-8" src="//s.thsi.cn/cb?js/liejin/common/tools/;statevent.min.js"></script>
<script charset="utf-8" src="../dist/question.js"></script>

</body>

</html>
