<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>财富传说-规则页面</title>
    <script type="text/javascript" src="//s.thsi.cn/js/liejin/common/flexible/flexible_w75b.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="//s.thsi.cn/cb?css/liejin/common/;init.min.css;css/liejin/project/m/kaihu/src/styles/;common.min.css;selectbank.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="//s.thsi.cn/cb?css/liejin/common/;init.min.css" />
    <link rel="stylesheet" type="text/css" href="../src/styles/index.css" />
</head>
<body>
<div class="container rule">
    <div class="background of-hidden">
        <p>1. 参与资格</p>
        <p>同一同花顺账号、身份证、实名认证用户等均视为同一用户。</p>
        <p>2.活动时间：详见财富传说页面。</p>
        <p>3. 玩法和开奖规则</p>
        <p>①用户进入活动，点击开始挑战即可进行两人答题对战，1局5题，均为单选题，每题需要10秒钟内完成作答；回答又对又快者加分多，最后一题分数加倍，回答错误或超时未答题不加分不扣分。</p>
        <p>②每局结束后按照答题总分决出胜负，获胜者加1颗星，失败减1颗星，平局星星数不变（减星不会造成降级或降称号）。</p>
        <p>③用户星星数达到一定数额可升等级并获得新称号(Lv.1-Lv.12），每次晋级即可领取相应称号奖励 。本次活动奖励不与其他活动奖励叠加，若重复领取奖励，则以最高奖励标准发放。</p>
        <p>④瓜分现金池。每周取得10场胜利的用户可以参与瓜分现金池，金额随机。因用户等级晋升与其答题结果相关，在赛前无法知悉，故中奖概率无法预测，单人所分奖金上限为人民币5000元。</p>
        <p>⑤奖励发放。奖励将发放至同花顺黄金账户，你需要在发起提现后的30个工作日内完成浦发银行黄金开户，以免影响奖励发放。</p>
        <p>⑥开户礼包、基金礼包、港美股礼包、黄金礼包奖励均需要在完成指定条件后，将在对应活动页面规定的时效范围内进行奖励发放</p>
        <p>4.晋级规则和排行榜排序规则</p>
        <p>①活动共设12等级，用户可通过参与活动进行答题对战不断晋级，每一等级晋升所需获胜局数（即星星数）不同，具体可在晋级页中查看。每一赛季用户等级信息只在当赛季有效，新赛季开始时还原至最初状态。</p>
        <p>②用户可在排行榜页面看到自己的排名，排名排在全国50名以内的将会展现在排行榜上，排行榜动态更新，按照等级排序，当等级和星星数均相同时按参赛时间排序。</p>
        <p>5.一旦发现作弊或违法参加，将取消其活动参与资格。</p>
        <p>6.活动解释权归同花顺猎金所有。</p>

    </div>
</div>

<script charset="utf-8" src="//s.thsi.cn/cb?js/;ta_https.min.js;encrypt.min.js;js/liejin/common/;phone_put.min.js&171124"></script>
<script charset="utf-8" src="//s.thsi.cn/cb?js/m/common/;basic.js;user.js;bridge.js;js/liejin/common/m/;user.min.js;stat_v1.js&170608"></script>
<!-- <script charset="utf-8" src="//s.thsi.cn/cb?js/liejin/common/tools/;statevent.min.js;js/liejin/project/m/kaihu/dist/;selectbank.min.js"></script> -->
<script charset="utf-8" src="//s.thsi.cn/cb?js/liejin/common/tools/;statevent.min.js"></script>
<script charset="utf-8" src="../dist/question.js"></script>

</body>

</html>
